.recruting {
  padding-top: 178px;
}
.recruting__items {
  display: flex;
  justify-content: space-between;
}
.recruting__title {
  color: var(--accent-color);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 83px;
  text-transform: uppercase;
}
.recruting__parahraph {
  color: #424242;
  font-size: 25px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 31px;
  max-width: 640px;
}
.recruting__btn {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  line-height: 26px;
  width: 385px;
  height: 75px;
  margin-top: 43px;
  margin-left: 2px;
  letter-spacing: 0.2px;
}
